{
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020
  },
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "serviceworker": true
  },
  "globals": {
    "it": true,
    "describe": true
  },
  "rules": {
    "no-console": 0
  }
}
