/* .App {
} */

.App-header {
  background-color: #282c34;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vmin;
  color: white;
}

.App-link {
  color: #61dafb;
}
